/* Edge Delivery default decoration */
main > div,
.has-template,
div[data-status] {
  display: none;
}

main div.section {
  display: unset;
}

aem-sidekick {
  opacity: 0;

  &[open="true"].is-ready {
    opacity: 1;
  }
}
